//////////////////////////////////
// Primary Container Rules ///////
//////////////////////////////////

.cog--mq {
  @include container(80em);

  margin: 10px auto;
}

// CSS Grid Containers
.grid-container,
.mq-footer,
#header,
.mq-main {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		padding: 0 20px 0 20px;
		grid-column-gap: 20px;
  @include breakpoint($medium) {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		padding: 0 20px 0 20px;
		grid-column-gap: 20px;
	}
  @include breakpoint($large) {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		padding: 0 20px 0 20px;
		grid-column-gap: 20px;
	}
}