// Sidebars Both
//
// Sidebars Both Region Styling
//
// Markup: sidebars-both.twig
//
// Weight: 1
//
// Style guide: layout.sidebars-both

// Sidebar First
//
// Sidebar First Region Styling
//
// Markup: sidebars-first.twig
//
// Weight: 2
//
// Style guide: layout.sidebars-first

// Sidebar Second
//
// Sidebar Second Region Styling
//
// Markup: sidebars-second.twig
//
// Weight: 3
//
// Style guide: layout.sidebars-second

// Sidebars None
//
// Sidebars None Region Styling
//
// Markup: sidebars-none.twig
//
// Weight: 4
//
// Style guide: layout.sidebars-none


//////////////////////////////////
// Sidebar First /////////////////
//////////////////////////////////
.body-sidebars-first aside.sidebar-first {
  grid-column: 1/ span 4;
}

.body-sidebars-first section#content {
  grid-column: 1/ span 4;
}

.body-sidebars-first {
  @include breakpoint($up-sm) {
    aside.sidebar-first {
      //@include span(3 of 12); // Susy setting
      grid-column: 1/span 5;
      @include breakpoint($medium) {
        grid-column: 1/span 2;
      }
      @include breakpoint($large) {
        grid-column: 1/span 3;
      }

      > * {
        //padding-left: 15px;
      }
    }

    section#content {
      //@include span(9 of 12 last);
      grid-column: 1/span 4;
      @include breakpoint($medium) {
        grid-column: 3/span 6;
      }
      @include breakpoint($large) {
        grid-column: 4/span 9;
      }

      > * {
        //padding-right: 25px;
      }
    }
  }
}
//////////////////////////////////
// Sidebar Second ////////////////
//////////////////////////////////
.body-sidebars-second section#content {
  grid-column: 1/span 4;
}
.body-sidebars-second aside.sidebar-second {
  grid-column: 1/span 4;
}

.body-sidebars-second {
  @include breakpoint($up-sm) {
    section#content {
      //@include span(3 of 12 last); // Susy setting
        // Settings Here
        @include breakpoint($medium) {
        grid-column: 1/span 5;
      }
      @include breakpoint($large) {
        grid-column: 1/span 9;
      }

      > * {
        //padding-right: 15px;
      }
    }

    aside.sidebar-second {
      //@include span(9 of 12); // Susy setting
       @include breakpoint($medium) {
        grid-column: 6/span 3;
      }
      @include breakpoint($large) {
        grid-column: 10/span 3;
      }

      > * {
        //padding-left: 25px;
      }
    }
  }
}
//////////////////////////////////
// Sidebar Both //////////////////
//////////////////////////////////

// Needs to be here to override CSS reset
.body-sidebars-both aside.sidebar-first {
  grid-column: 1/span 4;
}

.body-sidebars-both section#content {
  grid-column: 1/span 4;
}

.body-sidebars-both aside.sidebar-second {
  grid-column: 1/span 4;
}


.body-sidebars-both {
  @include breakpoint($up-sm) {
    aside.sidebar-first {
      //@include span(2 of 12); // Susy setting
      //grid-column: 1/span 4;
      @include breakpoint($medium) {
        grid-column: 1/span 2;
      }
      @include breakpoint($large) {
        grid-column: 1/span 3;
      }

      > * {
        //padding-left: 15px;
      }
    }

    section#content {
      //@include span(2 of 12 last); // Susy setting
      //grid-column: 1/span 4;
      @include breakpoint($medium) {
        grid-column: 3/span 4;
      }
      @include breakpoint($large) {
        grid-column: 4/span 6;
      }

      > * {
        //padding-right: 15px;
      }
    }

     aside.sidebar-second {
      //grid-column: 1/span 4;
      //@include span(8 of 12); // Susy setting
      @include breakpoint($medium) {
        grid-column: 7/span 2;
      }
      @include breakpoint($large) {
        grid-column: 10/span 3;
      }

      > * {
        //padding-right: 25px;
      }
    }
  }
}
//////////////////////////////////
// Sidebar None //////////////////
//////////////////////////////////
.body-sidebars-none {
  section#content {
    //@include span(12 of 12); // Susy setting
    grid-column: 1/span 4;
    @include breakpoint($medium) {
      grid-column: 1/span 8;
    }
    @include breakpoint($large) {
      grid-column: 1/span 12;
    }

    > * {
      //padding-left: 15px;
      //padding-right: 15px;
    }
  }
}
//////////////////////////////////
// General Sidebar Rules /////////
//////////////////////////////////
aside.sidebar {
  overflow: hidden;
}
