<div class="body-sidebars-second grid-container">


  <section id="content" style="background: burlywood;">
    <h3>Content</h3>
    <p>Wafer biscuit chupa chups donut. Cheesecake dragée macaroon. Bear claw candy
    canes jelly cake tootsie roll chocolate caramels candy. Chocolate bar toffee
    candy canes caramels cookie soufflé. Danish powder pie bonbon pastry carrot
    cake candy. Candy fruitcake jelly-o sweet roll gingerbread toffee chupa
    chups.</p>
    <p>Liquorice fruitcake lollipop. Sesame snaps muffin gummies cake. Apple pie
    dessert sugar plum toffee marzipan bonbon sesame snaps halvah. Macaroon
    croissant sweet cheesecake. Croissant icing muffin. Gingerbread pudding
    halvah.</p>
    <p>Bonbon chupa chups bonbon sugar plum fruitcake ice cream. Bear claw tootsie
    roll jujubes.</p>
    <p>Jelly donut dragée sweet roll sesame snaps tootsie roll. Halvah powder
    chocolate cake pudding. Cotton candy fruitcake jelly beans cake. Marshmallow
    jelly apple pie cookie. Wafer chupa chups powder wafer. Danish cake candy
    ice cream cake.</p>
    <p>Ice cream cake gummi bears lollipop powder brownie. Jelly gingerbread danish
    tiramisu carrot cake sweet danish caramels cookie. Sesame snaps cake pudding
    sugar plum tootsie roll pie liquorice. Gummies powder lemon drops candy
    canes.</p>
    <p>Brownie powder oat cake. Chocolate cake bonbon cookie cotton candy
    fruitcake.</p>
    <p>Cookie chocolate croissant cake bear claw chocolate bar gingerbread
    marshmallow apple pie. Muffin candy sweet dessert cotton candy pudding
    jelly.</p>
  </section>


  <aside class="sidebar-second" style="background: antiquewhite;">
    <h3>Sidebar Second</h3>
    <p>Sesame snaps muffin gummies cake. Apple pie dessert.</p>
    <p>Sugar plum toffee marzipan bonbon sesame snaps halvah. Macaroon
    croissant sweet cheesecake. Croissant icing muffin. Gingerbread pudding
    halvah.</p>
    <p>Bonbon chupa chups bonbon sugar.</p>
  </aside>


</div>